<%- include("../../partials/header.ejs",{title:"505 Server Down"}) %>
<div class="container my-container my-5">
 <h1 class="display-4 text-center"> 500 Internal Server Problem Please Wait</h1>
</div>
<%- include("../../partials/footer.ejs") %>

</body>
</html>