<div id="sidebar" class="my-4">
  <div class="list-group">
    <a
      href="/posts/create"
      class="list-group-item list-group-item-action list-group-item-light"
      >Create New Post</a
    >

    <a
      href="/posts"
      class="list-group-item list-group-item-action list-group-item-light"
      >My Posts</a
    >

    <a
      href="/dashboard/bookmarks"
      class="list-group-item list-group-item-action list-group-item-light"
      >Bookmarks</a
    >

    <a
      href="/dashboard/comments"
      class="list-group-item list-group-item-action list-group-item-light"
      >Comments</a
    >

    <a
      href="/dashboard/edit-profile"
      class="list-group-item list-group-item-action list-group-item-light"
      >Edit Profile</a
    >

    <a
      href="/auth/change-password"
      class="list-group-item list-group-item-action list-group-item-light"
      >Change Password</a
    >
  </div>
</div>
